<center>

<!-- BEGIN Paginator -->
<table style="display: inline;">
<tr>

	<!-- BEGIN PageSelected -->
	<td width="25" style="border: 1px solid #AAAAAA;" bgcolor="{bgcolor}">
		{num}
	</td>
	<!-- END PageSelected -->
	
	<!-- BEGIN Page -->
	<td width="25" style="border: 1px solid #AAAAAA;">
		<b>
			<a href="{link}" style="text-decoration: underline">
				{num}
			</a>
		</b>
	</td>
	<!-- END Page -->
	
	{PagePlace}
	
</tr>
</table>
<!-- END Paginator -->

<br/>

<!-- BEGIN ThumbNail -->
<a href="{link}" style="text-decoration: none;">
	<img style="border: 0" border="0" src="{img}" />
</a>
<!-- END ThumbNail -->

<br/>

{BottomPaginator}
		
</center>